<h1>Welcome to my ember app.</h1>

<p>This app was developed to understand how ember works with real backend. Also this is a experiment to
  implement the better patterns and recommendations used by community.
</p>